<h2>Update issue</h2>

<form method="post" action="./issues/<%= viewData.id %>/update">
  <label for="form-title">Title: </label>
  <input type="text" name="title" id="form-title" value="<%= viewData.title %>" required autofocus />
  <label for="form-decription">Description: </label>
  <textarea name="description"  id="form-description" cols="30" rows="10"><%= viewData.description %></textarea>
  <% if (viewData.state === 'opened') { %>
    <input type="checkbox" name="closed" id="closed"/>
    <label for="closed">Close issue</label>
  <% } %>
  <div>
    <button type="submit">Update</button>
    <a href="./issues">Cancel</a>
  </div>
</form>