* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffff;
}

aside, main {
  padding: 1rem;
}

h1, h2, h3 {
  color: #b56700;
  text-align: center;
  padding: 1em;
}

/* Styling for navigation */
nav div {
  background-color: #b56700;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 1rem;
  padding-left: 0;
  margin: 0;
}

nav li {
  padding: 0.5em;
  font-size: 1.2rem;
}

nav li:first-child {
  font-weight: bold;
} 

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: #f1ddc2;
}

/* Styling for flash-messages */
.flash {
  font-size: 0.9rem;
  padding: 1rem;
  max-width: 100%;
}

.flash-success {
  background-color: #b7e9bc;
  color: #052f08;
}

.flash-error{
  background-color: #da8c8c;
  color: #5f0d0d;
}

/* Styling of issue list */
/*
#issue-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: grid;
  grid-template-columns: max-content 1fr 2fr 6fr max-content;
  grid-template-rows: 100px;
  align-items: center;
}

.list-item:nth-child(even) {
  background-color: #f1ddc2;
}

.list-item > img, .list-item div, .list-item a {
  padding: 10px;
  max-height: 100%;
}

.list-item > img {
  height: 80%;
  border-radius: 50%;
}

.list-item div {
  overflow: auto;
}

.list-item a img {
  width: 20px;
}
*/

/* Styling of form */
form {
  max-width: 500px;
  background-color: #f1ddc2;
  padding: 2rem;
  margin: auto;
  border-radius: 5px;
}

input[type="text"], textarea {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  padding: 5px;
  border: 2px solid rgb(165, 165, 165);
  outline: none; 
}

input[type="text"]:focus, textarea:focus {
  border: 2px solid #b56700;
}

input[type="checkbox"] {
  cursor: pointer;
}

form div {
  text-align: center;
}

form button, form a {
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #b56700;
  background-color: #ffffff;
  border: 2px solid #b56700;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}

form a:link, form a:visited {
  color: #b56700;
}

form a:hover, form a:active, form button:hover, form button:active {
  color: #ffffff;
  background-color: #b56700;
  border: 2px solid #b56700;
}
